#include <windows.h>
#include <ntverp.h>

#include "verinfo.h"

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Install driver helper application"
#define VER_INTERNALNAME_STR        "installdriver.exe"
#define VER_ORIGINALFILENAME_STR    "installdriver.exe"

#include <common.ver>

